<div class="home">
  <div class="container">
    <div class="main-header row">
      <div class="col-6 main-header-menu">
        <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
        </ul>
      </div>
      <div class="col-6 main-header-link">
        <ul>
          <li>
            <button class="btn-1">SIGN IN</button>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-phone"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="main-banner row">
      <div class="col-4 main-banner-left">
        <h1>aloha floral</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium beatae, distinctio, dolor
          eius enim ex excepturi id laborum nemo nisi, obcaecati omnis provident quasi quisquam tempore tenetur unde
          voluptatibus!</p>
        <div class="left-button dpl-flex">
          <button class="left-button-1 btn-1">Bouquet</button>
          <button class="left-button-2 btn-2">Readmore</button>
        </div>
      </div>
      <div class="col-8 main-banner-right">right</div>
    </div>
  </div>
</div>
