
$color-font-1: #000;
$color-1: #fff;
//$color-1: #d59099;
$box-shadow-1: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
//$box-shadow-2: rgba(0, 0, 0, 0.35) 0 5px 15px;
$url-1: url("~src/assets/img/bg-04.png");

.home {
  background-color: $color-1;
  color: $color-font-1;
  .container {
    //border: 1px solid lightpink;
    //background-image: $url-1; background-repeat: no-repeat; background-size: cover; background-position: center;
    min-height: 80vh;
    box-shadow: $box-shadow-1; border-radius: 3px;
    .main-header {
      border: 1px solid lightcoral;
      padding: 15px;
      ul {
        margin: 0; padding: 0; display: flex; gap: 10px 50px;
        li {
          list-style: none;
          a { line-height: 35px; color: $color-font-1; }
        }
      }
      .main-header-menu {}
      .main-header-link {
        ul { justify-content: end; }
      }
    }
    .main-banner {
      border: 1px solid lightblue;
      .main-banner-left {
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        min-height: 700px; padding: 10px 50px; text-align: center; line-height: 30px;
        h1 {
          font-family: 'Shadows Into Light', sans-serif;
          font-size: 70px;
        }
        p {}
        .left-button {
          gap: 10px 20px;
          button.left-button-1 { background-color: lightcoral; }
          button.left-button-2 { font-weight: bold; border: 1px solid #000; }
        }
      }
      .main-banner-right {}
    }
  }
}
